@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@600&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Nunito:wght@600&family=Poppins:wght@600&display=swap");

.technologyContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  margin-top: 60px;
  margin: 0 auto;
}

.technologyContainer > h2 {
  font-family: "Inter";
  font-weight: 600;
  font-size: 20px;
  color: black;
  margin-top: 40px;
}

.createButton {
  width: 32.49px;
  height: 32px;
  background-color: lightgray;
  border-radius: 8px;
  border: none;
  color: #6495ed;
  font-size: 22px;
  margin-top: 40px;
}

.techDetails {
  width: 57%;
  background-color: lightgray;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
}

.techDetails > ul {
  padding: 10px;
}
ul > .techList {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  height: 38px;
  background-color: #6495ed;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.techName {
  font-family: "Inter";
  font-weight: 700;
  font-size: 14.2123px;
  color: black;
}

.techStatus {
  font-family: "Inter";
  font-weight: 400;
  font-size: 12.182px;
  color: black;
}

@media (min-width: 900px) {
  .createButton {
    cursor: pointer;
  }
}
